<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <img class="navbar-logo" src="../../../assets/images/navbar-logo.png">
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']"><a [routerLink]="['home']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['about']"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>About</a></li>
                <li><a>Menu <span class="caret"></span></a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['contact']">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
