.navbar-default {
background-color: #2f3ba1;
border-color: #000;
}

.navbar-default a {
color: #aaa;
}

.navbar-default .navbar-nav .active a {
background-color: #191e80;
color: #fff;
}

.navbar-default a:hover,
.navbar-default a:focus {
color: #fff;
}

.navbar-logo {
width: auto;
height: 50px;
margin-right: 16px;
}
