<footer class="footer">
  <!-- nav links -->
  <span class="col-lg-1"></span>
  <div class="links col-lg-1">
    <div class="foot-header">
      <h5>Links</h5>
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <!-- address -->
  <span class="col-lg-1"></span>
  <div class="col-lg-2">
    <div class="foot-header">
      <h5>Our Address</h5>
    </div>
    <address>
      214, King Street West<br>
      Downtown, Toronto<br>
      ONTARIO<br>
      <span aria-hidden="true" class="glyphicon glyphicon-earphone"></span>: +416 1234 5678<br>
      <span aria-hidden="true" class="glyphicon glyphicon-print"></span>: +416 8765 4321<br>
      <span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
    </address>
  </div>
  <!-- social links -->
  <span class="col-lg-3"></span>
  <ul class="social-icons col-lg-4">
    <li><a href="http://google.com/+" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    <li><a href="http://www.facebook.com/profile.php?id=" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
    <li><a href="http://www.linkedin.com/in/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
    <li><a href="http://twitter.com/" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
    <li><a href="http://youtube.com/" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
    <li><a href="http://youtube.com/" class="social-icon"> <i class="fa fa-envelope-o"></i></a></li>
  </ul>
  <!-- copyright -->
  <p class="copyright col-lg-12">© Copyright 2015 Ristorante Il Fornello</p>
</footer>
